// SCSS Variables

$color-bg: #44b6f9;
$color-card: #df3b27;
$color-glass--light: #cdfffe;
$color-glass--dark: #282828;
$color-border: #2e2d2d;
$color-warning: #fea702;
$color-success: #36b546;

$color-white: #ffffff;
$color-black: #000000;

$font-primary: 'Saira Semi Condensed', sans-serif;

$min-break-point: 800px;
$max-break-point: 799.98px;



@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500&display=swap');

*::before,
*::after,
*
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection{
    color: $color-white;
    background-color: $color-card;
}

html,
body
{
    height: 100%;
}

html{
    font-size: clamp(6px, 1vw, 10px);
}

body{
    display: grid;
    place-items: center;
    font-family: $font-primary;
    background-color: $color-bg;
    padding: 15px;
}

.card{

    @media (min-width: $min-break-point) {
        display: flex;
    }
    
    &__main{
        padding: 5em;
        border: 0.8em solid $color-border;
        background-color: $color-card;
        &__header{
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
        }
    }

    &__hinge{
        position: relative;
        background-color: $color-card;
        padding: 2rem;
        border: 0.8em solid $color-border;
        @media (max-width: $max-break-point) {
            border-top: 0;
        }
        @media (min-width: $min-break-point) {
            border-left: 0;
            border-top-right-radius: 1.7em;
        }

        &::before,
        &::after
        {
            content: "";
            position: absolute;
            @media (max-width: $max-break-point) {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
            }
            @media (min-width: $min-break-point) {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
            }
        }

        &::before{
            background-color: rgba($color-white, $alpha: 0.28);
            @media (max-width: $max-break-point) {
                height: 50.5%;
            }
            @media (min-width: $min-break-point) {
                width: 50.5%;
            }
        }

        &::after{
            background-color: rgba($color-white, $alpha: 0.8);
            @media (max-width: $max-break-point) {
                height: 12.5%;
            }
            @media (min-width: $min-break-point) {
                width: 12.5%;
            }
        }
    }
}

.btn{
    font-size: 2.5rem;

    &--xl{
        font-size: 7rem;
    }
    &--lg{
        font-size: 4.5rem;
    }
    &--md{
        font-size: 3rem;
    }

    width: 1em;
    height: 1em;
    border: 0.13em solid $color-border;
    box-shadow:
        inset 0.06em 0.06em 0 $color-white,
        inset -0.07em -0.07em 0 rgba($color-black, $alpha: 0.3);

    &--glace{
        position: relative;
        box-shadow:
            inset 0.06em 0.06em 0 $color-white,
            inset 0.13em 0.13em 0 rgba($color-white, $alpha: 0.45),
            inset -0.07em -0.07em 0 rgba($color-black, $alpha: 0.3);

        &::after{
            content: "";
            position: absolute;
            top: 25%;
            left: 20%;
            width: 20%;
            height: 20%;
            border-radius: inherit;
            background-color: rgba($color-white, $alpha: 0.7);
            box-shadow: 0.12em -0.1em 0 -0.03em rgba($color-white, $alpha: 0.7);
        }
    }

    &--rounded{
        border-radius: 50%;
    }

    &--danger{
        background-color: $color-card;
    }
    &--info{
        background-color: $color-bg;
    }
    &--warning{
        background-color: $color-warning;
    }
    &--success{
        background-color: $color-success;
    }
}