@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #ffffff;
  background-color: #df3b27;
}

::selection {
  color: #ffffff;
  background-color: #df3b27;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

html {
  font-size: clamp(6px, 1vw, 10px);
}

body {
  display: grid;
  place-items: center;
  font-family: "Saira Semi Condensed", sans-serif;
  background-color: #44b6f9;
  padding: 15px;
}

img {
  max-width: 100%;
  display: block;
}

@media (min-width: 800px) {
  .card {
    display: flex;
  }
}
.card__main__header, .card__main__body {
  background-color: #df3b27;
}
.card__main__header {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 1em 1em 3.3em;
  padding-right: 4em;
  border: 0.8em solid #2e2d2d;
  border-bottom: 0;
  border-top-left-radius: 2.5em;
  box-shadow: inset 0.5333333333em 0.5333333333em 0 rgba(255, 255, 255, 0.6);
}
@media (max-width: 799.98px) {
  .card__main__header {
    border-top-right-radius: 2.5em;
  }
}
.card__main__body {
  margin-top: -2.5em;
  position: relative;
  border: 0.8em solid #2e2d2d;
  border-top-left-radius: 2.5em;
  box-shadow: inset 0 0 0 0.4em #8b2215, inset 0 0 0 0.64em #2e2d2d;
  padding: 2em;
}
@media (min-width: 800px) {
  .card__main__body {
    border-bottom-left-radius: 2.5em;
  }
}
.card__main__body::before, .card__main__body::after {
  content: "";
  position: absolute;
  transform: translateY(-100%);
  height: 6rem;
  border: 0.8em solid #2e2d2d;
}
.card__main__body::before {
  z-index: 1;
  top: 0;
  right: calc(56% - 0.8em);
  width: 3.75em;
  border-top: 0;
  border-left: 0;
  border-bottom-right-radius: 2em;
  -webkit-clip-path: polygon(100% 64%, calc(100% + 1.6em) 64%, calc(100% + 1.6em) calc(100% + 1.6em), 5% calc(100% + 1.6em), 5% 64%);
          clip-path: polygon(100% 64%, calc(100% + 1.6em) 64%, calc(100% + 1.6em) calc(100% + 1.6em), 5% calc(100% + 1.6em), 5% 64%);
  box-shadow: 0 0 0 0.4em #8b2215, 0 0 0 0.64em #2e2d2d, 0 0 0 2.08em #df3b27;
}
.card__main__body::after {
  top: calc(1.44em + 1px);
  right: 0;
  width: 56%;
  background-color: #df3b27;
  border-bottom: 0;
  border-right: 0;
  border-top-left-radius: 2em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - (0.64em + 1px)), 0 calc(100% - (0.64em + 1px)));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - (0.64em + 1px)), 0 calc(100% - (0.64em + 1px)));
  box-shadow: inset 0 0 0 0.4em #8b2215, inset 0 0 0 0.64em #2e2d2d;
}
.card__main__body__tv {
  position: relative;
}
.card__main__body__tv__screen__image {
  max-height: 12rem;
  margin: auto;
}
.card__hinge {
  position: relative;
  background-color: #df3b27;
  padding: 2rem;
  overflow: hidden;
  border: 0.8em solid #2e2d2d;
}
@media (max-width: 799.98px) {
  .card__hinge {
    border-top: 0;
  }
}
@media (min-width: 800px) {
  .card__hinge {
    border-left: 0;
    border-top-right-radius: 1.7em;
  }
}
.card__hinge::before, .card__hinge::after {
  content: "";
  position: absolute;
}
@media (max-width: 799.98px) {
  .card__hinge::before, .card__hinge::after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }
}
@media (min-width: 800px) {
  .card__hinge::before, .card__hinge::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
}
.card__hinge::before {
  background-color: rgba(255, 255, 255, 0.28);
}
@media (max-width: 799.98px) {
  .card__hinge::before {
    height: 50.5%;
  }
}
@media (min-width: 800px) {
  .card__hinge::before {
    width: 50.5%;
  }
}
.card__hinge::after {
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 799.98px) {
  .card__hinge::after {
    height: 12.5%;
  }
}
@media (min-width: 800px) {
  .card__hinge::after {
    width: 12.5%;
  }
}
.card__hinge__grid {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
@media (max-width: 799.98px) {
  .card__hinge__grid {
    border-right: 0.8em solid #2e2d2d;
    height: 150%;
    transform: translateY(-50%);
    padding-right: 5em;
  }
}
@media (min-width: 800px) {
  .card__hinge__grid {
    border-top: 0.8em solid #2e2d2d;
    width: 150%;
    transform: translateX(-50%);
    padding-top: 5em;
  }
}
@media (max-width: 799.98px) {
  .card__hinge__grid:nth-child(1) {
    left: -10%;
  }
}
@media (min-width: 800px) {
  .card__hinge__grid:nth-child(1) {
    top: 10%;
  }
}
@media (max-width: 799.98px) {
  .card__hinge__grid:nth-child(2) {
    left: 10%;
  }
}
@media (min-width: 800px) {
  .card__hinge__grid:nth-child(2) {
    top: 30%;
  }
}
@media (max-width: 799.98px) {
  .card__hinge__grid:nth-child(3) {
    left: 35%;
  }
}
@media (min-width: 800px) {
  .card__hinge__grid:nth-child(3) {
    top: 65%;
  }
}
@media (max-width: 799.98px) {
  .card__hinge__grid:nth-child(4) {
    left: 55%;
  }
}
@media (min-width: 800px) {
  .card__hinge__grid:nth-child(4) {
    top: 85%;
  }
}

.btn {
  font-size: 2.5rem;
  width: 1em;
  height: 1em;
  border: 0.13em solid #2e2d2d;
  box-shadow: inset 0.06em 0.06em 0 #ffffff, inset -0.07em -0.07em 0 rgba(0, 0, 0, 0.3);
}
.btn--xl {
  font-size: 7rem;
}
.btn--lg {
  font-size: 4.5rem;
}
.btn--md {
  font-size: 3rem;
}
.btn--glace {
  position: relative;
  box-shadow: inset 0.06em 0.06em 0 #ffffff, inset 0.13em 0.13em 0 rgba(255, 255, 255, 0.45), inset -0.07em -0.07em 0 rgba(0, 0, 0, 0.3);
}
.btn--glace::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 20%;
  width: 20%;
  height: 20%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0.12em -0.1em 0 -0.03em rgba(255, 255, 255, 0.7);
}
.btn--rounded {
  border-radius: 50%;
}
.btn--danger {
  background-color: #df3b27;
}
.btn--info {
  background-color: #44b6f9;
}
.btn--warning {
  background-color: #fea702;
}
.btn--success {
  background-color: #36b546;
}/*# sourceMappingURL=style.css.map */